{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div>
		<h2>
			Nos produits phares !
		</h2>
		<div class="container mt-5">
			<div class="row gap-5 d-flex justify-content-center align-items-center">
				{% for product in products %}
					<div class="card" style="width: 18rem;">
						<img src="{{ asset('images/' ~ product.image) }}" class="card-img-top w-75 d-flex justify-content-center align-items-center mx-auto" alt="sweat noir à capuche">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text text-end">
								{{ product.price }}
								€</p>
							{% if app.user %}
								<a href="{{ path('product', {id: product.id}) }}" class="btn btn-primary d-flex justify-content-center align-items-center w-25 px-5 mx-auto">Voir</a>
							{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
