{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur Stubborn</h1>

	<div>
		<h2>Produits en avant</h2>
		<ul>
			{% for product in products %}
				<li>
					<h3>{{ product.name }}</h3>
					<p>{{ product.price }}
						€</p>
					{% if app.user %}
						<a href="{{ path('product', {id: product.id}) }}">Voir</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
